
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,#b30000,#ff9900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeOut 3s forwards;
}

.splash-logo {
  width: 180px;
  margin-bottom: 20px;
}

@keyframes fadeOut {
  0% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0; visibility:hidden;}
}
